/*----------------------------------------------------------------
  css reset 
---------------------------------------------------------------- */

/*

  1. Use a more-intuitive box-sizing model.

*/

*, *::before, *::after {

  box-sizing: border-box;

}

/*

  2. Remove default margin

*/

* {

  margin: 0;

}

/*

  3. Allow percentage-based heights in the application

*/

html, body {

  height: 100%;

}

/*

  Typographic tweaks!

  4. Add accessible line-height

  5. Improve text rendering

*/

body {

  line-height: 1.5;

  -webkit-font-smoothing: antialiased;

}

/*

  6. Improve media defaults

*/

img, picture, video, canvas, svg {

  display: block;

  max-width: 100%;

}

/*

  7. Remove built-in form typography styles

*/

input, button, textarea, select {

  font: inherit;

}

/*

  8. Avoid text overflows

*/

p, h1, h2, h3, h4, h5, h6 {

  overflow-wrap: break-word;

}

/*

  9. Create a root stacking context

*/

#root, #__next {

  isolation: isolate;

}

* {
    border: none;
}

/*----------------------------------------------------------------
  THEMES
---------------------------------------------------------------- */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .light-theme {

}

.dark-theme {

} */

body {
    background-color: #0C1017;
}

/*----------------------------------------------------------------
  Font Styles
---------------------------------------------------------------- */

h1 { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0fb499;
}

/*----------------------------------------------------------------
  main container
---------------------------------------------------------------- */

.main-container {
    margin: 10px;
    padding: 10px;
    width: 426px;
    height: 650px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 2px; */
    flex-wrap: wrap;
    border-radius: 10px;
    /* background-color: #262626; */
    background-color: #1E232A;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*----------------------------------------------------------------
  buttons
---------------------------------------------------------------- */

.operator-button {
    /* min-height: 100px;
    min-width: 90px;
    max-height: 100px;
    max-width: 90px; */
    /* width: 95px; */
    width: calc(25% - 10px);
    height: calc(16.66666666% - 10px);
    border: none;
    border-radius: 10px;
    background-color: #004568;
    color: #00ADC1;
}

.number-button {
    width: calc(25% - 10px);
    height: calc(16.66666666% - 10px);
    border: none;
    border-radius: 10px;
    background-color: #00ADC1;
    color: #004568;
}

.zero {
    width: 200px;
    height: 100px;
}

/*----------------------------------------------------------------
  display
---------------------------------------------------------------- */

.display {
    width: calc(100% - 20px);
    height: 100px;
    background-color: #E4E4E4;
    border-radius: 10px;
    font-size: 2rem;
    text-align: right;
    vertical-align: bottom;
    padding: 10px;
    color: #1E232A;
}